<!DOCTYPE html>
<html>
  <head>
    <title>PusherRealtimeRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src ="https://js.pusher.com/4.1/pusher.min.js"></script>
    <script>
      var pusher = new Pusher('8b99e78211278a813110', {
      cluster: 'us2',
      encrypted: true
      });
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <h1 style = "text-align:center">Real-Time Microaggressions!</h1>
	<div class = "wrapper">
    <img src="https://i.ytimg.com/vi/hDd3bzA7450/maxresdefault.jpg" height="150" alt="microaggression"/>
    
		<div class="top">
			<%= form_with scope: :comment, url: '/comment/store', local: true do |form| %>
				<div class="form-group">
						<%= form.label :comment %>
						<%= form.text_field :comment %>
						<%= form.submit %>
				</div>

		<% end %>
	</div>

		<div class="bottom" id="comment_section">
				<h2>Microaggressions</h2>
				<% @comments.each do |comment| %>
					<p><%= comment.comment %></p>
			<% end %>
		</div>
	</div>
  </body>
</html>
